/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
font-family: 'FontAwesome';
src: url('../fonts/fontawesome-webfont.eot');
src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/fontawesome-webfont.woff') format('woff'),
     url('../fonts/fontawesome-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
/*    -webkit-overflow-scrolling: touch; */
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
#markup-container, #markup-container .row, #markup-container .col-md-12, #chat-container, #main-content, #chat{
	height:100%;
	position:absolute;
	top:0px;
	bottom:0px;
	width:100%;
	overflow:hidden;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding: 10px;
}
/*
.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}
*/

.chat li .chat-body p
{
    margin: 0;
    color: #333;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}
.heading{
	position:fixed;
	top:0px;
	width:100%;
	padding:10px 0px 10px 10px;
	left:0px;
	background:rgb(22,128,202);
	color:#fff;
	height:56px;
	line-height:35px;
	display:table-cell;
	vertical-align:middle;
	z-index:999;
}
body.ios, .heading.ios{
	margin-top:20px;
}
.messages, #usuarios{
	position:absolute;
	top:56px;
	left:0px;
	bottom:70px;
	width:100%;
	overflow-Y:auto;
}
.writemessage{
	position:fixed;
	bottom:0px;
	padding:10px;
	width:100%;
	left:0px;
	background:#ffffff;
	display:inline-block;
	z-index:1000;
}
.writemessage .inputContainer{
	float:left;
	width:100%;
	padding-right:66px;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}
.writemessage #inp-message{
	background: #efefef none repeat scroll 0 0;
    border: medium none;
	-webkit-border-radius:7px 0 7px 7px;
	-moz-border-radius:7px 0 7px 7px;
	border-radius:7px 0 7px 7px;
    -webkit-box-shadow: 0 2px 5px rgba(100, 100, 100, 0.5);
    -moz-box-shadow: 0 2px 5px rgba(100, 100, 100, 0.5);
    box-shadow: 0 2px 5px rgba(100, 100, 100, 0.5);
	padding:14px;
	height:50px;
	width:100%;
	/* width: calc(100% - 4.5em); */
	position:relative;
	z-index:2;
}
.writemessage #inp-message:focus{
	outline:0;
}
.chat-arrow-shadow{
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #efefef;
    height: 0;
    position: absolute;
    right: 60px;
    top: 9px;
    width: 0;
	z-index:1;
	-webkit-transform:rotate(135deg);
	-moz-transform:rotate(135deg);
	transform:rotate(135deg);
	-webkit-box-shadow:4px -5px 5px rgba(0,0,0,0.12);
	-moz-box-shadow:4px -5px 5px rgba(0,0,0,0.12);
	box-shadow:4px -5px 5px rgba(0,0,0,0.12);
}
.chat-arrow{
	border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #efefef;
    height: 0;
    position: absolute;
    right: 56px;
    top: 9px;
    width: 0;
	z-index:3;
}
#btn-enviar{
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
    -webkit-box-shadow: 0 2px 5px rgba(100, 100, 100, 0.5);
    -moz-box-shadow: 0 2px 5px rgba(100, 100, 100, 0.5);
    box-shadow: 0 2px 5px rgba(100, 100, 100, 0.5);
    height: 50px;
    width: 50px;
	padding:0;
	margin:0 auto;
    font-size: 14px;
	font-weight:bolder;
    text-align: center;
	position:absolute;
	right:9px;
	bottom:9px;
}
#btn-enviar .fa{
	font-size:20px;
	margin-top:-2.8px;
	margin-left:-2.8px;
}
#btn-enviar{
	outline:0;
}
#main-content{
	height:100%;
}
#chat{
	height:100%;
}
#chat-container{
	margin:0!important;
}
.loader{
	background:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:200;
}
.loader .fa{
	position:relative;
	top:45%;
	left:45%;
	font-size:28px;
	color:#ddd;
}
ul#chat-window{
	padding-bottom:20px;
	/*
	position:absolute;
	top:0px;
	bottom:0px;
	width:100%;
	*/
}
ul#chat-window li{
	box-shadow:0px 2px 3px rgba(200,200,200,0.6);
	-moz-box-shadow:0px 2px 3px rgba(200,200,200,0.6);
	-webkit-box-shadow:0px 2px 3px rgba(200,200,200,0.6);
}
ul#chat-window li.left{
	background:#F9F9F9;
	padding:5px;
	margin-left:10px;
	margin-right:10px;
	width:80%;
	position:relative;
	z-index:15!important;
	float:left;
}
ul#chat-window li.left:before{
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-right-color: #F9F9F9;
	border-width: 10px;
	margin-top: -10px;
}
ul#chat-window li.right{
	background:#ECFFCF;
	padding:5px;
	margin-left:10px;
	margin-right:10px;
	width:80%;
	position:relative;
	z-index:15!important;
	float:right;
	left:-10px;
}
ul#chat-window li.right:after{
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-left-color: #ECFFCF;
	border-width: 10px;
	margin-top: -10px;
}
#login-container{
	margin:60px auto;
}
#login-form{
	background:#f5f5f5;
	width: 90%;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	/*
    border: 1px solid#eee;
    box-shadow: 2px 2px 18px rgba(230,230,230,.4), -2px 2px 18px rgba(230,230,230,.4), 2px -2px 18px rgba(230,230,230,.4),-2px -2px 18px rgba(230,230,230,.4);
	*/
    margin-top: 100px;
    margin: 0 auto;
	padding:0 10px 28px;
}
#login-form .btn{
	width:100%;
}
#login-form .login-inputs{
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	margin-bottom:10px;
	border:1px solid #ddd;
}
#login-form .login-inputs input{
    font-family: FontAwesome, Helvetica;
	width:100%;
	border:none;
	border-bottom:1px solid #ddd;
    border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
	font-weight:lighter;
}
#login-form .login-inputs input{
	outline:0!important;
}
#login-form .login-inputs input:first-child{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
#login-form .login-inputs input:last-child{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom:none;
}
#usuarios{
	overflow:scroll;
	bottom:0px!important;
}
#lista-usuarios{
	overflow-Y:hidden;
	margin-top:42px;
}
.usuario, .usuario:visited, .usuario:hover{
	padding:14px 14px 0 14px;
	display:block;
	text-decoration:none;
}
strong.display-name{
	text-transform:capitalize;
}
.usuario:active{
	background:rgba(100,100,100,0.2);
}
.usuario .foto-usuario{
	background-image:url(../img/user.jpg);
	background-size:cover;
	background-repeat: no-repeat;
    background-position: center center;
	float:left;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	overflow:hidden;
	height:56px;
	width:56px;
}
.usuario .foto-usuario img{
	display:inline;
	height:100%;
	margin:0 auto;
}
.usuario .detalle{
	color:#000;
	margin-left:70px;
	line-height:56px;
	height:63px;
	margin-top:0px;
	border-bottom:1px solid #d9d9d9;
}
.muted,.muted:visited, .muted:hover{
	color:#999!important;
}
.usuario .detalle p{
	line-height:28px;
}
.usuario .detalle .mensajepreview{
	width:40%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#tabs-usuarios{
	display:block;
	width:100%;
}
#tabs-usuarios ul{
	margin:0;
	padding:0;
	list-style:none;
	width:99.99999%;
	position:fixed;
	z-index:998;
}
#tabs-usuarios ul li,
#tabs-usuarios ul li:visited{
	float:left;
	width:33.3333%;
	text-align:center;
	background:rgb(22, 128, 202);
	color:#fff!important;
	white-space: nowrap;
	padding:10px;
	list-style:none;
	border-bottom:5px solid rgb(22,128,202);
}
#tabs-usuarios ul li.active{
	border-bottom:5px solid #ddd;
}
/*
#tabs-usuarios .nav li:last-child{
	width:34%;
}
*/
#tabs-usuarios ul li a{
	background:rgb(22, 128, 202) none repeat scroll 0 0;
	color:#fff!important;
}
#tabs-usuarios ul li a:visited,
#tabs-usuarios ul li a:hover,
#tabs-usuarios ul li a:active{
	color:#FFF;
	text-decoration:none;
}
/*
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	border:none!important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
*/
.full-width{
	padding-left:0px!important;
	padding-right:0px!important;
}
#titulo{
	position:absolute;
	right:54px;
	left:10px;
	display:inline-block;
	font-size:20px;
}
#titulo span.texto{
	display:inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position:absolute;
	left:60px;
	right:0px;
}
#titulo .foto-usuario{
	background-image:url(../img/user.jpg);
	background-size:cover;
	background-repeat: no-repeat;
    background-position: center center;
	float:left;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	overflow:hidden;
	height:37px;
	width:37px;
	margin:-0.7px 7px 0;
}
#titulo .foto-usuario img{
	display:inline;
	height:100%;
	margin:0 auto;
}
#titulo i.fa{
	font-weight:lighter!important;
}
#titulo a.pull-left,
#titulo a.pull-left:hover,
#titulo a.pull-left:visited{
	font-size:14px;
	color:#fff;
	margin-top:1.5px;
}
#titulo a.pull-left:active{
	background-color:rgba(100,100,100,0.4);
}
#btn-menu, #buscar-usuario{
	font-size:17px;
	margin-top:-1.4px;
	color:#fff;
}
.btn{
	outline:0!important;
}
.btn:active,
.ver-usuario:active
{
	background:rgba(100,100,100,0.4)
}
#btn-menu:active, #buscar-ususario:active{
	background:rgba(100,100,100,0.4)
}
#search-group{
	position:fixed;
	top:0px;
	width:100%;
	padding:10px 0px 10px 10px;
	left:0px;
	background:rgb(255,255,255);
	height:56px;
	line-height:35px;
	display:table-cell;
	vertical-align:middle;
	z-index:999;
	border-bottom:1px solid #ddd;
}
#search-query{
	border: medium none;
    margin: 0 0 0 28px;
    padding: 0;
}
#search-query:focus{
	outline: 0;
}
#tabs-usuarios .nav.nav-tabs li.active{
	border-bottom:3px solid #efefef!important;
}
#tabs-usuarios .nav.nav-tabs li{
	border-bottom:3px solid rgb(22, 128, 202);
	margin-bottom:-3px;
	font-weight:bold;
}
#tabs-usuarios .nav.nav-tabs li a,
#tabs-usuarios .nav.nav-tabs li:hover{
	border-width:0px;
	border-color:transparent;
	outline:0;
}
.detalle .badge{
	background:#3c3;
}
.group-user{
	/* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-text-stroke:1px #aaa; */
}
#ficha-usuario .banner-usuario{
	background-color:rgb(22,128,202);
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-position: -50% 50%;
	background-size:100%;
	position:fixed;
	width:100%;
	color:#ccc;
	height:40vh;
	overflow:hidden;
	z-index:1001;
}
#ficha-usuario .banner-usuario .nombre-usuario{
	position:absolute;
	bottom:0px;
	left:20px;
	font-size:35px;
	color:#fff;
	width:90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding:19px 10px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3),-1px 1px 1px rgba(0, 0, 0, 0.3),1px -1px 1px rgba(0, 0, 0, 0.3),-1px -1px 1px rgba(0, 0, 0, 0.3);
}
#ficha-usuario .detalles-ficha-usuario{
	background:#efefef;
	padding:7px;
	padding-top:42vh;
	min-height:100vh;
}
#ficha-usuario .detalles-ficha-usuario div.clearfix{
	padding:0;
	margin:0 0 14px 0;
}
#ficha-usuario .detalles-ficha-usuario div.clearfix h5{
	padding:7px 7px 0 7px;
	color:rgb(22,128,202);
}
#ficha-usuario .detalles-ficha-usuario div.clearfix hr{
	width:100%;
	margin:0;
	padding:0;
}
#ficha-usuario .detalles-ficha-usuario div.clearfix .content{
	padding:0 7px;
}
#back-ficha-usuario{
	position:fixed;
	top:12px;
	left:9.5px;
	z-index:1003;
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3),-1px 1px 1px rgba(0, 0, 0, 0.3),1px -1px 1px rgba(0, 0, 0, 0.3),-1px -1px 1px rgba(0, 0, 0, 0.3);
}
#main-menu{
	margin-right:7px;
}
#main-menu li{
	padding:9px 0;
	font-size:17px;
	font-weight:bolder;
}
.moar-messages{
	text-align:center;
	font-color:#eee;
	background-color:#009999;
	width:100%;
	padding:14px;
	margin:0 auto;
}
.moar-messages a,
.moar-messages a:visited{
	color:#eee;
	text-decoration:none!important;
}
.moar-messages:active{
	background-color:#006666;
}
#select-source{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:90px;
	background:#fff;
	border-bottom:1px solid #555;
	display:none;
	z-index:300
}
#select-source a{
	width:33.333%;
	float:left;
	text-align:center;
	padding:10px;
	color:#fff;
	display:hidden;
}
#select-source a:active{
	background:#dedede;
}
#select-source a i.fa{
	width:50px;
	height:50px;
	line-height:50px;
	background:#ac547f;
	border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	font-weight:bolder;
	color:#fff;
}
#select-source a span{
	color:#555;
}
.big-prompt{
	background:rgba(0,0,0,0.5);
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	z-index:10000;
}
/*#file-browser{*/
.big-prompt-container{
	position:relative;
	top:5%;
	height:90%;
	left:2%;
	width:96%;
	background:#fff;
	color:#000;
	box-shadow:2px 2px 4px rgba(0, 0, 0, 0.2), -2px 2px 4px rgba(0, 0, 0, 0.2), 2px -2px 4px rgba(0, 0, 0, 0.2), -2px -2px 4px rgba(0, 0, 0, 0.2);
}
#file-browser .header, .big-prompt .header{
	background:#F0F0FF;
	padding:10px;
	font-size:22px;
	text-align:left;
	line-height:35px;
	font-weight:300;
	color:#4A6FD0;
	width:100%;
	/*height:40px;*/
	/*background:#5a7fe0;*/
	/*border-bottom:1px solid black;*/
}
#file-browser .header span, .big-prompt .header span{
	width:100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#file-browser .header span, .big-prompt .header span{
	padding-left:12px;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;    
}
.big-prompt .body{
	position:absolute;
	top:55px;
	bottom:54px;
	width:100%;
	padding:10px;
}
#file-browser .body ul#file-list{
	list-style-type:none;
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	overflow-X:hidden;
	overflow-Y:auto;
    font-family: FontAwesome, Helvetica;
}
#file-browser .body ul#file-list li{
	/*font-size:16px;*/
	padding:0;
	margin:0;
	line-height:3em;
	font-weight:bolder;
	text-align:middle;
	width:100%;
	overflow:hidden;
}
#file-browser .body ul#file-list li i.fa{
	width:40px;
}
#file-browser .body ul#file-list li:active{
	background:rgba(0,0,0,.2)
}
.file-download{
	height:1.2em;
	line-height:1.2em;
	border:1px solid #777;
	border-radius:5px;
	background:#ffffcc;
	padding:15px;
	text-align:center;
}
.big-prompt #done, .big-prompt .actionButton{
	font-size:18px;
	font-weight:bolder;
	color:#000;
	width:100%;
	background:#B8DEE6;
	height:54px;
	line-height:54px;
	text-align:center;
	position:absolute;
	bottom:0;
	left:0;
}
.big-prompt #done:active, .big-prompt .actionButton:active{
	background:#98BEC6;
}
.big-prompt .spacer{
	font-size:18px;
	display:block;
	width:100%;
	height:54px;
}
#select-users .big-prompt-container{
	border:none!important;
}
#select-users .body ul{
	list-style-type:none;
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	overflow-X:hidden;
	overflow-Y:auto;
    font-family: FontAwesome, Helvetica;
}
#select-users .body ul li{
	font-size:18px;
	line-height:2em;
	padding:2px;
}
#select-users .body ul li.added{
	background:#ccc;
}
#btn-salir-grupo{
	width:96%;
	margin:10px 2% 20px;
	font-size:22px;
	font-weight:bolder;
}
#ficha-usuario .grupo a:last-child{
	border-bottom:none;
}
#ficha-usuario .usuario .detalle p{
	line-height:56px;
}
#ficha-usuario .edit-button{
	position:absolute;
	top:5px;
	right:5px;
	font-size:14px;
	color:#00F;
}
#menu-container-fixed{
	position: fixed;
    width: 100%;
	top:56px;
	z-index:300;
}
